
<div class="banner">
  <div class="home-banner-content">
    <h1>HERO TEXT GOES HERE</h1>
    <p>SECONDARY TEXT GOES HERE</p>
    <button class="btn btn-primary explore">Explore</button>
  </div>
</div>
