.navbar-baliboards {
  justify-content: space-between;
  background: gray;
}

.navbar-baliboards .navbar-collapse {
  flex-grow: 0;
}

.navbar-baliboards .navbar-brand img {
  width: 40px;
}
.logo {
  border-radius: 50%;
}
.nav-filters h3 {
  display: inline;
  font-size: 14px;
  margin: 10px;
}
